*.dump
*.beam
.couchapprc
*.swk
*.swm
Gemfile.lock
.swm
.swn
.*.swn
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
*.swo
*.swp
bin/
bundler/
cache/
doc/
gems/
specifications/
config/database.yml
db/schema.rb
.DS_Store
*.swl
